.vitem {
  padding:30px;
}
.navbar{
  background:green;
  padding:20px;
}
.navbar_item{
  display:inline-block;
  float:right;
  padding:10px;
}
.navbar_item a{
  color:#fff;
}
.footer{
  background:grey;
  color:white;
  height:100vh;
  text-align:center;
}
.main{
padding:50px 100px;
}
